body{
    display: flex;
    flex-direction:column;
    padding:0%;
    margin:0%;
}

header{
    background-color: #2f396b;
    
    border-bottom-style: solid;
    border-bottom-width: 2;
    border-bottom-color: #696969;

    height:10%;
    padding:0;
    margin: 0;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items:center;
    color:white;
    position:fixed;
}

.blogName{
    
    font-size:24px;    
}

.bodyBottom{
    height:90%;
    display:flex;
    flex-direction:row;
    
    
}
nav{
    background-color: #2f396b;
    color:white;

    padding:0;
    margin:0;
    height:100vh;
    width:20%;
    top:10%;
    position:fixed;
}
.navContainer{
    width:20%;
    
}
main{
    padding-left:5px;
    top:200px;
    width:80%;
}
.mainCategories>ul>li{
    border-bottom-style: solid;
    border-width: 1;
    border-color: #696969;

    list-style: none;
}
.sebuCategories>ol>li{
    list-style:none;
}

.selected{
    color: rgb(255, 255, 100);

}
.articleInfo{
    display:flex;
    justify-content: space-between;
    background-color: #2f396b;
    margin:0;
    padding:0;
    top:10vh;
    width:100%;
    position:fixed;

}
.locate{
    color:white;
}
a{
    color:white;
    text-decoration: none;
}
